# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Data files
data/raw/
*.zip
*.tar.gz

# Jupyter checkpoints and outputs
.ipynb_checkpoints/
*.ipynb

# OS files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj